html, body {
	height: 100%;
	margin: 0;
	font-family: 'Pacifico', cursive;
}

.box {
	height: 100%;
	background-image: url(bg.jpeg);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.box:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #00042870;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e9270, #00042870);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e9270, #00042870); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
z-index: -1;
}                 
.title {
	font-size: 100px;
	color: white;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.link {
	color: white;
	text-decoration: none;
	font-size: 20px;
	text-shadow: 1px 1px 1px  rgba(0,0,0.7);
	border: 2px solid white;
	padding: 10px 30px;
	font-weight: bold;
	margin-top: 30px;

	transition: 0.3s
}
.link:hover {
	padding: 10px 50px;
}