main {
    max-width: 1000px;
    margin: auto; 
}
img {
	max-width: 100%;
	display: block;
}
.box {
	columns: 4;
	column-gap: 3px;
}
.item {
	transition: 0.3s;
}
a {
	display: block;
	margin-bottom: 3px;
}
@media all and (min-width: 1100px)
{
	.item {
		filter: sepia(0);
	}
	.item:hover {
		filter: sepia(1);
	}
}

@media all and (max-width: 768px)
{
	.box {
		columns: 2;

	}
}
@media all and (max-width: 480px)
{
	.box {
		columns: 1;
	
	}
}